.right{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #DAE5F5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-image{
    width: 25vw;
  }
  
  .right-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    gap: 20px;
  }
  
  .right h1{
    font-weight: 700;
    font-size: 2.2vw;
  }
  
  
  .right p{
    font-size: 1.1vw;
    font-weight: 500;
  }
  
  .footer{
    display: flex;
    position: fixed;
    top: 95%;
    font-size: 1.2vw;
    font-weight: 400;
  }

  .footer span{
    display: flex;
    align-items: center;
    gap: 5px;
  }


@media (max-width : 500px){
  .right{
    visibility: hidden;
  }
}