.left-side {
  width: 40vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.left-heading {
  font-weight: 500;
  font-size: 2vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-heading a{
  text-decoration: none;
  color: black;
}

.notes{
  height: 85vh;
  overflow-y: auto;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.notes p{
  width: 80%;
}

img{
  width: 80px;
}

.add-btn {
  position: fixed;
  top: 83vh;
  left: 20vw;
  cursor: pointer;
  display: flex;
  border-radius: 50px;
}
