.subnotes {
    width: 100%;
    height: 100vh;
    background-color: #001f8b;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 12vh;
    width: 100%;
    background-color: #001f8b;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
  
  .back-button {
    background: none;
    border: none;
    color: white;
    font-size: 2.0rem;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .textarea-foot {
    height: 25vh;
    background-color: #001f8b;
    width: 100%;
    display: flex;
    padding:5px 0px 5px 0px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  textarea {
    height: 90%;
    width: 95%;
    padding: 20px;
    resize: none;
    outline: none;
    color: #9a9a9a;
    font-family: Roboto;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  .notes-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 5px 20px 5px;
    background-color: #dae5f5;
    align-items: center;
  }
  
  .notes-content::-webkit-scrollbar {
    width: 6px;
  }
  
  .notes-content::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
  }
  
  .note-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .send {
    position: absolute;
    right: 60px;
    bottom: 20px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: #ababab;
    cursor: not-allowed;
  }
  
  .send.enabled {
    color: #001f8b; /* Darker color when enabled */
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .header {
      padding-left: 10px;
      font-size: 1.2rem;
    }
  
    .back-button {
      font-size: 1.5rem;
    }
  
    textarea {
      font-size: 20px;
    }

    .textarea-foot{
        padding: 10px;
    }
  
    .send {
      right: 50px;
      bottom: 25px;
      font-size: 35px;
    }
  }
  